body {
    padding-top: 70px;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}

a:hover{
    text-decoration: none;
    color: #afbacc;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.table{
    display: table;
    border-collapse: collapse;
}

.table-header-group {
    display: table-header-group;
}

.table-row-group{
    display: table-row-group;
}

.table-row{
    display: table-row;
}

.table-cell{
    padding: 10px;
    display: table-cell;
    border: 1px solid #5e5e5e;
    background-color: #f0f0f0;
}
img{
    display: block;
    margin: 0 auto;
    width: 95%;
    height: auto;
}
#station-list{
    width: 95%;
    margin-left: 20px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.custom-button{
    margin-top: 20px;
}

.navbar{
    border-radius: 0;
}

.footer-style{
    background-color: #31414f;
    font-size: 15px;
    color: #6e88a4;
    border-top: 1px solid;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 12px 0;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.content {
    flex: 1;
}