<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.StationMapper">

    <resultMap id="station" type="com.sevgmo.stationpassport.model.StationMySQLForm">

    </resultMap>

    <select id="getStationById" resultMap="station">
        SELECT s.station_id, s.station_name, se.section_name,cf.customfield_section_id,
    cf.customfield_name, cf.customfield_type, cf.customfield_id,
    cfv.customfieldsvalue_text_value, cfv.customfieldsvalue_numeric_value

      FROM stations s
      INNER JOIN customfieldsvalues cfv ON s.station_id = cfv.customfieldsvalue_station_id
      INNER JOIN customfields cf ON cfv.customfieldsvalue_customfield_id = cf.customfield_id
      INNER JOIN sections se ON se.section_id = cf.customfield_section_id
      WHERE s.station_id=#{id}

    </select>

</mapper>